body {
    font-family: 'sans-serif','Courier New','system-ui';
    font-size: large;
}
.dynamic {
    height: 2rem;
    min-height: 2rem;
    max-height: 2rem;
}

.button {
    font-size: large;
    width: 4%;
}

.button-wide {
    font-size: large;
    width: 6%;
}
